[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
aiohttp = "*"
aiofiles = "*"
beautifulsoup4 = "*"
readability-lxml = "*"
aiostream = "*"
dragnet = "*"
eel = "*"
mako = "*"
requests = "*"
pyinstaller = "*"
selenium = "*"

[requires]
python_version = "3.7"
